- user = event.user
- category = event.category

.post_event
  .voting.display-inline
    .thumb.icon-thumbs-up.positive(onclick="authorize_subscription('#{user.id}', '#{category.id}', event);")

    .thumb.icon-thumbs-down.negative(onclick="authorize_subscription('#{user.id}', '#{category.id}', event);")

  .entry

    .title
      用户
      = link_to user.name, user_path(user)
      申请加入
      = category_label category
      分类

    .tagline
      申请提交于#{relative_time(event.created_at)}
