- history.reverse.each do |hash|
  - post = Post[hash]
  - next unless post and post.visible? current_user
  .link
    %div(class="post_detail #{post.id_hash}")
      .voting.display-inline.no-margin
        - if logged_in? and current_user.upvoted?(post)
          .arrow.sprite.upmod{:onclick => "vote(event, '#{hash}');"}
          .arrow.sprite.down{:onclick => "vote(event, '#{hash}');"}
        - elsif logged_in? and current_user.downvoted?(post)
          .arrow.sprite.up{:onclick => "vote(event, '#{hash}');"}
          .arrow.sprite.downmod{:onclick => "vote(event, '#{hash}');"}
        - else
          .arrow.sprite.up{:onclick => "vote(event, '#{hash}');"}
          .arrow.sprite.down{:onclick => "vote(event, '#{hash}');"}

      .entry
        .title
          = link_to post.title, ( post.url || post_path(post) ), :title => ( post.url || post.title ), :target => '_blank'

        .tagline

          .action
            %i.icon-circle-arrow-up
            = post.karma

          .action
            = link_to post.reply_count, post_path(post), :icon => "icon-comments"
    .clearleft
