- post = event.post

.post_event
  .voting.display-inline
    .thumb.icon-thumbs-up.positive(onclick="review('#{post.id}', event);")

    .thumb.icon-thumbs-down.negative(onclick="review('#{post.id}', event);")

  .entry

    .title
      - brand_icons(post).each do |icon|
        %i.vertical-middle(class="#{icon}")

      = link_to post.title, ( post.url || post_path(post) ), :title => ( post.url || post.title ), :target => '_blank'

      %span.domain (#{link_to post.domain, domain_path(post)})

    .tagline
      = category_label post.category
      |
      = link_to "#{post.reply_count}条评论", post_path(post)

      在#{relative_time(post.created_at)}由 #{link_to post.author.name, user_path(post.author)} 发布

