- if items.render?
  %ul.pager
    - path = request.fullpath
    - if items.prev_page
      .horizontal-space
      %li
        = link_to '上一页', "#{path}#{path.include?('?') ? '&' : '?'}p=#{items.prev_page}"
        
    - if items.next_page
      .horizontal-space
      %li
        = link_to '下一页', "#{path}#{path.include?('?') ? '&' : '?'}p=#{items.next_page}"
