- if items.render?
  %ul.pager
    - if items.prev_page
      - pp = params.merge('p' => items.prev_page)
      .horizontal-space
      %li
        = link_to '上一页', "#{current_path}?#{pp.collect{|k, v| "#{k}=#{v}"}.join('&')}"
        
    - if items.next_page
      - np = params.merge('p' => items.next_page)
      .horizontal-space
      %li
        = link_to '下一页', "#{current_path}?#{np.collect{|k, v| "#{k}=#{v}"}.join('&')}"
