- if items.render?
  %ul.pager
    - if items.prev_page
      - pp = params.merge('p' => items.prev_page)
      .horizontal-space
      %li
        = link_to '上一页', "#{current_path}?p=#{items.prev_page}"
        
    - if items.next_page
      .horizontal-space
      %li
        = link_to '下一页', "#{current_path}?p=#{items.next_page}"
