%div(class="post_detail #{post.id_hash}" onclick="read(event, '#{post.hash}');")
  .entry

    .title
      = partial 'post/brands', :locals => {:post => post}

    .hspace

    %span.title_info

      由

      = link_to post.author.name, user_path(post.author), :class => 'tooltip-lb user-info', "data-post-karma" => "#{post.author.post_karma}", "data-comment-karma" => "#{post.author.comment_karma}"

      发表在

      = category_label post.category

    - user_comments_for_post(user, post).each do |cid, sub_cids|

      = partial 'comment/comment', 
        :locals => { :comment => Comment[cid], :children => sub_cids.map{|i| Comment[i]}, 
        :comment_opts => { :fold => :children, :show_replies_count => true, :hide_modifications => true, :hide_replies => true } }
