%div(class="post_detail #{post.id_hash}" onclick="read(event, '#{post.hash}');")
  .voting.display-inline
    - if logged_in? and current_user.upvoted?(post)
      .arrow.sprite.upmod{:onclick => "vote(event, '#{post.hash}');"}
      %span.karma= post.karma
      .arrow.sprite.down{:onclick => "vote(event, '#{post.hash}');"}
    - elsif logged_in? and current_user.downvoted?(post)
      .arrow.sprite.up{:onclick => "vote(event, '#{post.hash}');"}
      %span.karma= post.karma
      .arrow.sprite.downmod{:onclick => "vote(event, '#{post.hash}');"}
    - else
      .arrow.sprite.up{:onclick => "vote(event, '#{post.hash}');"}
      %span.karma= post.karma
      .arrow.sprite.down{:onclick => "vote(event, '#{post.hash}');"}

  .entry

    .title
      - brand_icons(post).each do |icon|
        - if defined?(show_detail) and show_detail and icon == "icon-file"
          %i.vertical-middle(class="#{icon}")
        - else
          %i.vertical-middle(class="#{icon} big-cursor" onclick="expando_child(event);")

      - if logged_in? and post.type == :url
        = link_to post.title, ( post.url || post_path(post) ), :class => 'trackable', :title => ( post.url || post.title ), :target => '_blank'
      - else
        = link_to post.title, ( post.url || post_path(post) ), :class => 'trackable', :title => ( post.url || post.title )

      %span.title_info (#{link_to post.domain, domain_path(post)})

    .tagline
      = category_label post.category

      .action
        %i.icon-time 
        = relative_time(post.created_at)

      .action
        - if unread_replies_for_post(post) > 0
          %a(href="#{post_path(post)}" class="trackable")
            %i.icon-comments.color-orange
            = precede post.reply_count.to_s do
              = surround '(', ')' do
                %strong.color-orange +#{unread_replies_for_post(post)}
        - else
          = link_to post.reply_count, post_path(post), {:class => 'trackable', :icon => 'icon-comments trackable'}

      .action
        %a{:onclick => "favourite(event, '#{post.hash}');", :href => 'javascript:void(0);'}
          - if logged_in? and current_user.favourites.include? post
            %i.icon-heart.color-red
          - else
            %i.icon-heart
          %span.favourite-number
            = post.favourite_count

      .action
        = link_to post.author.name, user_path(post.author), :icon => 'icon-user', :class => 'tooltip-lb user-info', "data-post-karma" => "#{post.author.post_karma}", "data-comment-karma" => "#{post.author.comment_karma}"

      - if logged_in? and post.author == current_user and post.content

        .action
          %a{:onclick => "post_edit(event, '#{post.hash}');", :href => 'javascript:void(0);'}
            %i.icon-edit
            编辑

      - if logged_in? and post.author == current_user

        .action
          %a{:onclick => "post_delete(event, '#{post.hash}');", :href => 'javascript:void(0);'}
            %i.icon-trash
            删除
      
      - if logged_in? and current_user.able_to_sanction?(post) and post.author != current_user
        - unless post.sanctioned_by
          .action
            %a{:onclick => "sanction(event, '#{post.hash}');", :href => 'javascript:void(0);'}
              %i.icon-bolt
              处罚

      - if logged_in? and current_user.able_to_report? and post.author != current_user
        - unless post.reported_by
          .action
            %a{:onclick => "report(event, '#{post.hash}');", :href => 'javascript:void(0);'}
              %i.icon-flag
              举报
    
    - if defined?(show_detail) and show_detail and post.has_content?
      .well.md!= post.rendered_content

    - if logged_in? and post.author == current_user and post.content
      %form.form-horizontal.post-form(class="#{post.id_hash}" action="/post/edit/#{post.hash}" method='post' style='display:none' autocomplete='off')
        %textarea.validate-input.span5.md_preview(name='post_content' rows='5')
        %p
        %button.btn.post_submit(type="submit") 修改
        %button.btn(type='button' onclick='md_preview(event);') 预览
        %button.btn(type='button' onclick="$('.post-form.#{post.id_hash}').hide();") 取消
