.hero-column
  %form.form-horizontal.validate-form(action='/post/new' method='post')
    .field-set
      .control-group
        %label.control-label(for='title') 标题
        .controls
          %textarea.validate-input.input-xxlarge(id='title' name='title' rows="2")
            - if defined? @post_title
              = @post_title

      .control-group
        %label.control-label(for='content_type') 内容
        .controls
          %label.radio.inline
            %input#radio_url(type='radio' name='type' value='url' checked)/
            网址
          %label.radio.inline
            %input#radio_content(type='radio' name='type' value='post_content')/
            文字内容
          %p
          - if defined? @url and @url
            %input.validate-input.input-xxlarge(type='url' name='url' id='url' value="#{@url}")/
          - else
            %input.validate-input.input-xxlarge(type='url' name='url' id='url' placeholder='请输入来源网址')/
          %textarea.validate-input.input-xxlarge(name='post_content' id='post_content' rows='5' style='display:none' placeholder='请输入文字内容')

      .control-group
        %label.control-label(for='category') 圈子
        .controls
          %input.validate-input.input-xxlarge.typeahead.category(type='text' name='category' id='category' data-provide='typeahead' autocomplete='off' value="#{ @category ? @category.display_name : ''}")

      .control-group
        %label.control-label(for='hot-category') 热门圈子
        .controls
          - hot_categories.each do |c|
            %label.inline-block
              %span(class="#{category_label_class c}")
                %a( href='javascript:void(0);' onclick="$('#category').val('#{c.display_name}'); $('.validate-form').validate().form();" )= c.display_name
            .half-hspace

      .form-actions
        %button.btn.btn-large.btn-primary(type='submit')
          %i.icon-white.icon-ok
          发表
        %a.btn.btn-large.btn-info(href='javascript:void(0);' onclick="md_preview(event);" style='display: none;' id='content_preview')
          %i.icon-eye-open
          预览
        %a.btn.btn-large(href='/')
          %i.icon-remove
          取消
        %img.loading(src='/images/loading.gif' alt='Loading' style='display: none')/

:javascript
  $(document).ready(function() {
    $("input[name='type']:radio").change(function() {
      var checked = $("input[name='type']:radio:checked").val();
      var unchecked = $("input[name='type']:radio:unchecked").val();
      $("#"+unchecked).hide();
      $("#"+checked).show();
      if (checked == "post_content") {
        $("#content_preview").show();
      } else {
        $("#content_preview").hide();
      }
      $(".validate-form").validate().form();
    });
  });
