%aside.hidden-phone
  - unless logged_in?
    .side-box
      %form.form-inline(action='/login' method='post')
        %input.input-small(type="text" name="login_name" id="login_name" placeholder="用户名" value="#{params[:login_name]}")/
        %input.input-small(type="password" name="login_password" placeholder="密码" id="login_password")/
        %button.btn.btn-small(type="submit") 登录

  - if defined? post

    .side-box#post_vote_detail

      本帖发表于#{pretty_format_time(post.created_at)}

      .karma_detail
        %p
        #{post.karma} 点功德
        
        .hspace

        %i.icon-arrow-up
        %span= post.upvotes

        %i.icon-arrow-down
        %span= post.downvotes
        %p

  - if defined? user

    .side-box#user_karma_detail

      注册于#{pretty_format_time(user.created_at)}

      %p
        
      .karma_detail

        #{user.post_karma} 点功德

        .hspace

        #{user.comment_karma} 点人品

        - unless user.conduct_karma.zero?

          .hspace
          #{user.conduct_karma} 点节操
      
      %p

  - if defined? category

    .side-box#category_subscription_detail

      建立于#{pretty_format_time(category.created_at)}

      %p
        
      .karma_detail

        圈子里共有 #{category.subscribers.size} 人

      %p

  .side-box
    - if defined? user
      %form.form-search.aside_search(action="/search?u=#{user.name}" method='GET')
        %input.input-block-level.search-query(type='text' name='q' placeholder='搜用户帖子')
    - elsif defined? category
      %form.form-search.aside_search(action="/search?c=#{category.name}" method='GET')
        %input.input-block-level.search-query(type='text' name='q' placeholder='搜当前圈子')
    - elsif current_path =~ %r{^/categories}
      %form.form-search.aside_search(action="/search?t=categories" method='GET')
        %input.input-block-level.search-query(type='text' name='q' placeholder='搜索圈子')
    - else
      %form.form-search.aside-search(action='/search' method='GET')
        %input.input-block-level.search-query(type='text' name='q' placeholder='搜搜看吧')

  .side-box.align-center
    - if defined? category
      %a.side-action.btn.btn-info.inline-block(href="/post/new?category=#{category.name}")
        %i.icon-comment.icon-white
        发表新分享
    - else
      %a.side-action.btn.btn-info.inline-block(href="/post/new")
        %i.icon-comment.icon-white
        发表新分享

    %a.side-action.btn.btn-warning.inline-block(href='/category/new')
      %i.icon-th-list.icon-white
      建立新圈子

    - if defined? category

      - if category_subscribe? category
        %a.side-action.btn.btn-inverse.inline-block{:href => 'javascript:void(0);', :onclick => "category_subscribe(event, '#{category.name}');"}
          %i.icon-minus.icon-white
          离开本圈子
      - elsif category_pending_subscribe? category
        %a.side-action.btn.inline-block{:href => 'javascript:void(0);'}
          %i.icon-time
          已申请加入
      - elsif current_user and category.user_blacklist.include? current_user

      - else
        %a.side-action.btn.btn-danger.inline-block{:href => 'javascript:void(0);', :onclick => "category_subscribe(event, '#{category.name}');"}
          %i.icon-plus.icon-white
          加入本圈子

  - if defined? category
    - if current_user and (current_user.tagged?('admin') or category.admins.include?(current_user))
      .side-box.align-center
        %a.side-action.btn.btn-success.inline-block{:href => "#{category_path(category)}/settings"}
          %i.icon-cog.icon-white
          管理本圈子

    - if not category.rendered_sidebar.to_s.empty? 
      .side-box.md!= category.rendered_sidebar
    - else
      .side-box.md.align-center
        %strong 本版面暂无任何描述

    - if category.admins.empty?
      .side-box.align-center
        %strong 本圈子暂无管理员
    - else
      .side-box
        - category.admins.each do |admin|
          .action
            %i.icon-user
            #{link_to admin.name, user_path(admin)}

  - if session[:history] and !session[:history].empty?

    .side-box
      =partial 'post/history', :locals => session
