-#http://twitter.github.com/bootstrap/components.html#navs
%header
  .navbar.navbar-inverse
    .navbar-inner
      .container{:style => 'width:auto;'}
        %a.btn.btn-navbar{:'data-toggle' => 'collapse', :'data-target' => '.nav-collapse'}
          %span.icon-bar
          %span.icon-bar
          %span.icon-bar

        .btn-group.pull-right
          - unless logged_in?
            %a.btn.btn-success(href='/login') 登录
            %a.btn.btn-warning(href='/register') 注册
          - else
            %a.btn.btn-info.dropdown-toggle(data-toggle='dropdown' href='#')
              = current_user.name
              - if total_unread > 0
                %span.badge.badge-important= total_unread
            %ul.dropdown-menu.no-collapse
              - if total_unread > 0
                %li= link_to "我的帖子 (#{total_unread})", user_path(current_user), :icon => 'icon-list'
              - else
                %li= link_to '我的帖子', user_path(current_user), :icon => 'icon-list'
              %li= link_to '我的收藏', '/favourites'          , :icon => 'icon-heart'
              %li= link_to '个人设置', '/settings'            , :icon => 'icon-wrench'
              %li= link_to '退出登录', '/logout'              , :icon => 'icon-signout'

        .brand-items
          .brand-content= link_to(logo, '/')
          .brand-content.brand{:style => 'margin: 0;'}= link_to '嘟噜', '/'

        .nav-collapse
          %ul.nav
            =partial header_nav
