-#http://twitter.github.com/bootstrap/components.html#navs
%header
  .navbar
    .navbar-inner
      .container{:style => 'width:auto;'}
        %a.btn.btn-navbar{:'data-toggle' => 'collapse', :'data-target' => '.nav-collapse'}
          %span.icon-bar
          %span.icon-bar
          %span.icon-bar

        .btn-group.pull-right
          - unless logged_in?
            %a.btn.btn-success(href='/login') 登录
            %a.btn.btn-warning(href='/register') 注册
          - else
            %a.btn.btn-info.dropdown-toggle(data-toggle='dropdown' href='#')
              = current_user.name
            %ul.dropdown-menu.no-collapse
              %li= link_to '我的帖子', user_path(current_user), :icon => 'icon-list'
              %li= link_to '个人设置', '/settings'            , :icon => 'icon-wrench'
              %li= link_to '退出登录', '/logout'              , :icon => 'icon-signout'

        .brand-items
          .brand-content= link_to(logo, '/')
          .brand-content.brand{:style => 'margin: 0;'}= link_to '嘟噜', '/'

        .nav-collapse
          %ul.nav
            %li(class="#{"active" if current_path == '/'}"             )= link_to '热门', '/'
            %li(class="#{"active" if current_path == '/controversial'}")= link_to '最具争议', '/controversial'
            %li(class="#{"active" if current_path == '/top'}"          )= link_to '分数最高', '/top'
            %li(class="#{"active" if current_path == '/latest'}"       )= link_to '最新', '/latest'
            %li.divider-vertical/
            - if ['/', '/top', '/controversial'].include? current_path
              %li.dropdown
                %a.dropdown-toggle(href='#' data-toggle='dropdown')
                  %i.icon-time
                  - case params[:t]
                  - when 'day';
                    一天
                  - when 'week';
                    一周
                  - when 'month';
                    一个月
                  - when 'all';
                    全部
                  - else;
                    一周
                  %span.caret/
                %ul.dropdown-menu
                  %li= link_to '一天'   , "#{current_path}?t=day"
                  %li= link_to '一周'   , "#{current_path}?t=week"
                  %li= link_to '一个月' , "#{current_path}?t=month"
                  %li= link_to '所有'   , "#{current_path}?t=all"
