-#http://twitter.github.com/bootstrap/components.html#navs
%header
  .navbar.navbar-inverse
    .navbar-inner
      .container{:style => 'width:auto;'}
        %a.btn.btn-navbar{:'data-toggle' => 'collapse', :'data-target' => '.nav-collapse'}
          %span.icon-bar
          %span.icon-bar
          %span.icon-bar

        .btn-group.pull-right
          - unless logged_in?
            %a.btn.btn-success(href='/login') 登录
            %a.btn.btn-warning(href='/register') 注册
          - else
            %a.btn.btn-info{:href => user_path(current_user) }
              = current_user.name
              - if total_unread > 0
                %span.badge.badge-important= total_unread
            %a.btn.btn-inverse(href='/logout')
              %i.icon-signout

        .brand-items
          .brand-content= link_to(logo, '/')
          .brand-content.brand{:style => 'margin: 0;'}= brand_title

        .nav-collapse
          %ul.nav
            =partial header_nav

.hot_bar

  - if logged_in?
    %span.label.label-important= link_to '我的圈子', '/l/mine'
    .half-hspace

  %span.label.label-inverse= link_to '随便转转', '/l/random'

  .half-hspace
  |
  .half-hspace

  - if logged_in? and not current_user.subscriptions.empty?
    - subs = current_user.subscriptions.to_a
    - n_sub = subs.size
    - if n_sub >= 10
      - subs.first(10).each do |s|
        = category_label(s)
        .half-hspace
    - else
      - subs.each do |s|
        = category_label(s)
        .half-hspace

      |

      .half-hspace

      - hot_categories.first(10 - n_sub).each do |c|
        - next if subs.include? c
        = category_label(c)
        .half-hspace

  - else
    - hot_categories.first(10).each do |c|
      = category_label(c)
      .half-hspace
