!!! 5
%html
  %head
    %title= title
    %meta{:"http-equiv" => "Content-Type", :content => "text/html; charset=utf-8"}/
    -#for bootstrap's response page to display correctly
    %meta{:name => 'viewport', :content => "width=device-width, initial-scale=1.0"}
    %meta{:name => 'robots', :content => 'all'}

    :javascript
      var logged="#{current_user.name if logged_in?}";

    != stylesheet_link_tag '/css/main.css', :media => 'screen'

    /[if lte IE 8]
      != javascript_script_tag '/js/html5shiv-3.6.1.js'

    != javascript_script_tag '/js/jquery-1.8.0.min.js'
    - if ENV['RACK_ENV'] != 'production'
      != javascript_script_tag '/js/libs.min.js'
      != javascript_script_tag '/js/application.js'
    - else
      != javascript_script_tag '/js/application.min.js'

    /[if lte IE 6]
      :javascript
        window.location = "/browser";

    - if ENV['RACK_ENV'] == 'production'
      = partial :counting_code

  %body

    .container-fluid
      = partial :header

      = partial :notice

      != yield

      = partial :footer

      - if ENV['RACK_ENV'] == 'development'
        %p= "params: #{params.inspect}"
        %p= "session: #{session.inspect}"
