- if event = events.sample
  .link.event-link
    - case event
    - when Moderation
      .rank= '处罚'
      = partial 'post/moderation', :locals => {:event => event}
    - when Subscription
      .rank= '订阅'
      = partial 'category/subscription', :locals => {:event => event}
    .clearfix

- i = 0
- @posts.each do |post|
  - i += 1
  .link
    .rank.hidden-phone= i + (@posts.page - 1) * @posts.per_page
    = partial 'post/post', :locals => {:post => post }
    .clearfix

= partial 'pager', :locals => {:items => @posts, :show_detail => false}
